name: ci

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Auto green
        run: |
          git config --local user.email "utsuko27@qq.com"
          git config --local user.name "Weidows"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git remote set-url --add origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@gitee.com/${{ github.repository }}
          git pull --rebase
          date +"%Y-%m-%d %H:%M:%S.%N" >> keepchange.txt
          git commit -am "a commit a day keeps your girlfriend away"
          git push
