name: DailyTask

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      # - name: Clone repository
      #   uses: actions/checkout@v2

      - name: Setup PHP Action
        uses: shivammathur/setup-php@2.9.0

      - name: My-Tasks
        run: |
          # 连通ssh
          mkdir ~/.ssh
          echo "${{ secrets.CONFIG }}" >> ~/.ssh/config
          echo "${{ secrets.RSA }}" > ~/.ssh/Gitee_rsa
          chmod 600 ~/.ssh/*
          ssh -T git@gitee.com

          # 设置Git
          git clone https://github.com/Weidows/Keeper.git
          git config --local user.name "Weidows"
          git config --local user.email "utsuko27@qq.com"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git remote add Gitee git@gitee.com:Weidows/Keeper.git
          # git pull Gitee main --allow-unrelated-histories --rebase

          # 唤醒LeanCloud评论管理系统
          curl https://weidows.avosapps.us/comments

          # 获取必应壁纸
          cd ./Bing/ && php index.php && cd ../

          # 记录log
          date +"%Y-%m-%d %H:%M:%S.%N" >> Tasks.log

          # 推送
          git add .
          git commit -am "A commit a day keeps girlfriend away."
          git push origin main
          git push Gitee main
