name: DailyTask

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: My Tasks
        run: |
          # 设置Git
          git config --local user.name "Weidows"
          git config --local user.email "utsuko27@qq.com"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          # 变更文件
          curl https://weidows.avosapps.us/comments # 唤醒LeanCloud评论管理系统
          cd ./Bing/
          curl -o "%Y-%m-%d"+".jpg" https://www.bing.com/th?id=OHR.MountTaranaki_EN-CN5963817857_1920x1080.jpg
          cd ../
          date + "%Y-%m-%d %H:%M:%S.%N" >> Tasks.log # 记录
          git commit -am "A commit a day keeps girlfriend away."
          git push
