name: DailyTask

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Setup PHP Action
        uses: shivammathur/setup-php@2.9.0

      - name: My Tasks
        run: |
          # 设置Git
          git config --local user.name "Weidows"
          git config --local user.email "utsuko27@qq.com"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase

          curl https://weidows.avosapps.us/comments # 唤醒LeanCloud评论管理系统
          php Bing/index.php # 获取必应壁纸

          date +"%Y-%m-%d %H:%M:%S.%N" >> Tasks.log # 记录
          git add .
          git commit -am "A commit a day keeps girlfriend away."
          git push
